.env
.git
.idea
.vscode
.DS_Store
.gitignore
.php_cs.cache
.phpunit.result.cache
bootstrap/cache/*
node_modules
public/dist/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker-compose.*
vendor
openApi.json